@media screen and (max-width: 1300px) {
    #hero   {
        padding: 12rem 5rem;
    }

    #hero .contents {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1050px) {
    nav.navbar {
        padding: 1rem 2rem;
    }

    #hero   {
        padding: 10rem 3rem;
    }

    #hero .contents {
        width: 55%;
        margin: 0;
        padding: 0rem 2rem;
    }

    #hero .contents p.hero-title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .form-container {
        padding: 2rem 0.51rem;
        position: absolute;
        top: 10rem;
        left: 35rem;
    }

    #service img   {
        right: 45rem;
        top: 55rem;
    }

    #gallery #first-slide img, #gallery #second-slide img, #gallery #third-slide img {
        width: 100% !important;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        /* font-size: 2rem; */
        position: absolute;
        top: 45%;
        left: 35%;
        margin: auto;
        text-align: center;
    }

    /* .left-container p{
        font-size: 10rem;
    } */

    /* CONTACT */
    
    .get_in_touch   {
        max-width: 100%;
        font-size: 1.3rem;
        padding-right: 1rem;
    }

    .get_in_touch p {
        padding-right: 1rem;
    }


    .subscribe  {
        max-width: 40%;
    }

    .subscribe form {
        padding: 0.9rem 0;
    }
    
    .subscribe form button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 970px) {

    header nav a img  {
        width: 90px;
        padding-left: 3rem;
    }

    #sidebar-openIcon   {
        display: block;
        position: relative;
        top: 0.52rem;
        right: 5rem;
    }

    #hero   {
        padding: 15rem 3rem;
        text-align: center;
    }

    #hero .contents {
        width: 90%;
        margin: auto;
    }

    #hero .contents p.hero-title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .form-container {
        display: none;
        position: unset;  
        width: 80%;
        padding: 2rem;
        margin: 5rem auto;
    }

    .hero-form button{
        margin-top: 0.8rem;
        width: 100%;
    }

    #service img   {
        right: 45rem;
        top: 10rem;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        top: 42%;
        left: 30%;
    }
    
    #about_us .right-container img {
        margin: 3rem 0 0 3rem;
    }

    .get_in_touch   {
        max-width: 50%;
        font-size: 1.3rem;
        padding-right: 1rem;
    }

    .get_in_touch p {
        padding-right: 1rem;
    }

    .footer-txts    {
        width: 70%;
        font-size: 1.5rem;
    }

    .comp-container h3, .prod-container h3 {
        margin-top: 2rem;
    }

    .comp-container ul, .prod-container ul{
        padding: 0;
    }
}

@media screen and (max-width: 850px) {
    nav.navbar {
        padding: 0 3rem;
    }

    #hero .contents {
        width: 100%;
    }

    .form-container {
        margin: 2rem auto;
    }

    #service img   {
        right: 25rem;
        top: 60rem;
    }

    #about_us .left-container p {
        font-size: 1rem;
    }

    .get_in_touch   {
        font-size: 1.2rem;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 780px) {
    nav.navbar {
        padding: 0 1rem;
    }

    #sidebar-closeIcon  {
        left: 40rem;
    }

    #hero .contents {
        width: 100%;
    }

    .form-container {
        margin: 2rem auto;
    }

    #gallery    {
        background-color: #eee;
        padding: 1rem 2rem;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        /* font-size: 2rem; */
        top: 40%;
        left: 27%;
    }

    .subscribe  {
        padding: 2rem;
        margin-left: 3rem;
    }

    .subscribe h3 {
        font-size: 1.2rem;
    }

    .subscribe p {
        font-size: 0.7rem;
    }
    
    .subscribe form {
        padding: 1rem 0;
    }
}

@media screen and (max-width: 560px) {
    nav.navbar {
        padding: 0 3rem;
    }

    #hero   {
        padding: 10rem 0;
    }

    #hero .contents {
        width: 100%;
        padding: 0 3rem;
    }

    #hero .contents p.hero-title {
        font-size: 2rem;
    }

    #hero .contents p.hero-paragraph {
        font-size: 1rem;
    }

    .form-container {
        margin: 2rem auto;
    }
    
    .form-container form {
        display: block;
        padding: 1rem;
    }
    
    .form-container .couple, .form-container .coup-2 {
        display: block;
        margin: 0.5rem auto;
    }

    .form-container .couple input:first-child {
        display: block;
        margin: 0.5rem auto;
    }

    #service    {
        padding: 30rem 4rem 2rem; 
    }

    .right-container {
        margin: 3rem auto;
        width: 100%;
    }

    .footer-txts    {
        width: 100%;
        font-size: 1.2rem;
    }

    .copyright  {
        margin: 3rem 0 0;
        width: 50%;
    }
}

@media screen and (max-width: 420px) {

    .form-container {
        width: 80%;
        margin: 2rem auto;
    }

    #service img   {
        right: 15rem;
        top: 95rem;
    }   
}