@media screen and (max-width: 1300px) {
    #hero   {
        padding: 12rem 5rem;
    }

    #hero .contents {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1050px) {
    nav.navbar {
        padding: 1rem 2rem;
    }

    #hero   {
        padding: 10rem 3rem;
    }

    #hero .contents {
        width: 55%;
        margin: 0;
        padding: 0rem 2rem;
    }

    #hero .contents p.hero-title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .form-container {
        padding: 2rem 0.51rem;
        position: absolute;
        top: 10rem;
        left: 35rem;
    }

    #service img   {
        right: 45rem;
        top: 55rem;
    }

    #gallery #first-slide img, #gallery #second-slide img, #gallery #third-slide img {
        width: 100% !important;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        /* font-size: 2rem; */
        position: absolute;
        top: 45%;
        left: 35%;
        margin: auto;
        text-align: center;
    }

    /* .left-container p{
        font-size: 10rem;
    } */

    /* CONTACT */
    
    .get_in_touch   {
        max-width: 100%;
        font-size: 1.3rem;
        padding-right: 1rem;
    }

    .get_in_touch p {
        padding-right: 1rem;
    }


    .subscribe  {
        max-width: 40%;
    }

    .subscribe form {
        padding: 0.9rem 0;
    }
    
    .subscribe form button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 970px) {

    header nav a img  {
        width: 90px;
        padding-left: 3rem;
    }

    #sidebar-openIcon   {
        display: block;
        position: relative;
        top: 0.52rem;
        right: 5rem;
    }

    #hero   {
        padding: 15rem 3rem;
        text-align: center;
    }

    #hero .contents {
        width: 90%;
        margin: auto;
    }

    #hero .contents p.hero-title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .form-container {
        display: none;
        position: unset;  
        width: 80%;
        padding: 2rem;
        margin: 5rem auto;
    }

    .hero-form button{
        margin-top: 0.8rem;
        width: 100%;
    }

    #service img   {
        right: 45rem;
        top: 10rem;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        top: 42%;
        left: 30%;
    }
    
    #about_us .right-container img {
        margin: 3rem 0 0 3rem;
    }

    .get_in_touch   {
        max-width: 50%;
        font-size: 1.3rem;
        padding-right: 1rem;
    }

    .get_in_touch p {
        padding-right: 1rem;
    }

    .footer-txts    {
        width: 70%;
        font-size: 1.5rem;
    }

    .comp-container h3, .prod-container h3 {
        margin-top: 2rem;
    }

    .comp-container ul, .prod-container ul{
        padding: 0;
    }
}

@media screen and (max-width: 850px) {
    nav.navbar {
        padding: 0 3rem;
    }

    #hero .contents {
        width: 100%;
    }

    .form-container {
        margin: 2rem auto;
    }

    #service img   {
        right: 25rem;
        top: 60rem;
    }

    #about_us .left-container p {
        font-size: 1rem;
    }

    .get_in_touch   {
        font-size: 1.2rem;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 780px) {
    nav.navbar {
        padding: 0 1rem;
    }

    #sidebar-closeIcon  {
        left: 40rem;
    }

    #hero .contents {
        width: 100%;
    }

    .form-container {
        margin: 2rem auto;
    }

    #gallery    {
        background-color: #eee;
        padding: 1rem 2rem;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        /* font-size: 2rem; */
        top: 40%;
        left: 27%;
    }

    .subscribe  {
        padding: 2rem;
        margin-left: 3rem;
    }

    .subscribe h3 {
        font-size: 1.2rem;
    }

    .subscribe p {
        font-size: 0.7rem;
    }
    
    .subscribe form {
        padding: 1rem 0;
    }

    .comp-container, .prod-container {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 560px) {
    nav.navbar {
        padding: 0;
    }

    #sidebar-closeIcon  {
        left: 27rem;
    }

    #hero   {
        padding: 15rem 0;
    }

    #hero .contents {
        width: 100%;
        padding: 0 3rem;
    }

    #hero .contents p.hero-title {
        font-size: 2rem;
    }

    #hero .contents p.hero-paragraph {
        font-size: 1rem;
    }

    #service    {
        padding: 7rem 4rem 2rem; 
    }

    #gallery    {
        padding: 0;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        font-size: 1.5rem;
        top: 40%;
        left: 32%;
    }

    /* The MODAL FOR GALLERY OR PROJECT WHATEVER WE WILL CALL IT */
    #first-slide-modal {
        padding: 4rem 2rem;
        width: 100%;
        height: 100vh;
    }

    #first-slide-modal .fsm-bg {
        padding: 2rem;
    }

    #about_us .right-container {
        padding: 0;
        margin: 2rem auto;
        width: 100%;
    }

    #about_us .right-container img {
        width: 100%;
        margin: auto;
    }

    #contact    {
        padding: 0rem 3rem; 
        background-color: rgb(248, 248, 248);
        text-align: center;
        margin: auto;
    }

    .get_in_touch   {
        max-width: 100%;
        font-size: 1.5rem;
    }

    .subscribe  {
        margin: 4rem auto;
        max-width: 80%;
    }

    .footer-txts    {
        width: 100%;
        font-size: 1.2rem;
    }

    .copyright  {
        margin: 3rem 0 0;
        width: 90%;
        color: #aaa;
    }
}

@media screen and (max-width: 420px) {

    header nav a img  {
        width: 60px;
        padding-left: 1.5rem;
    }

    nav.navbar {
        width: 100%;
        overflow: hidden;
    }

    #sidebar-openIcon   {
        top: 0.3rem;
        right: 2rem;
    }

    #sidebar-closeIcon  {
        left: 18rem;
    }

    #side-bar .side-bar-links button {
        margin: 2rem auto;
        font-size: 2rem;
        width: 60%;
        padding: 1rem 0;
        background-color: #3FCDFB;
        font-weight: 700;
    }

    #service  {
        padding: 2rem;
    }

    #gallery    {
        padding: 0;
    }

    #gallery .carousel {
        padding: 50px;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        font-size: 1rem;
        top: 45%;
    }

    #first-slide-modal {
        width: 100%;
        height: 100vh;
    }

    #first-slide-modal .fsm-bg {
        padding: 1.5rem;
        margin: 2rem auto;
    }

    #fsm-modal-close {
        color: #fff;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #about_us   {
        padding: 6rem 2rem;
        background-color: #9AE6FF;
    }

    #about_us .right-container {
        width: 90%;
    }

    .subscribe  {
        margin: 4rem auto;
        max-width: 93%;
    }
}

@media screen and (max-width: 380px) {
    
    #hero .contents p.hero-title {
        color: #F6F6F6;
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
    
    #hero .contents p.hero-paragraph {
        color: #F6F6F6;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    
    
    #hero .contents button {
        padding: 0.8rem 0;
        margin: 1rem 0;
        width: 300px;
        background-color: #080240;
        color: #F6F6F6;
    }   

    #service  {
        padding: 2rem;
    }

    #gallery    {
        padding: 0;
    }

    #gallery .carousel {
        padding: 50px;
    }

    #gallery #first-slide h1.carousel-title,
    #gallery #second-slide h1.carousel-title,
    #gallery #third-slide h1.carousel-title {
        font-size: 1rem;
        top: 45%;
    }

    #first-slide-modal {
        width: 100%;
        height: 100vh;
    }

    #first-slide-modal .fsm-bg {
        padding: 1.5rem;
        margin: 2rem auto;
    }

    #fsm-modal-close {
        color: #fff;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #about_us   {
        padding: 6rem 2rem;
        background-color: #9AE6FF;
    }

    #about_us .right-container {
        width: 90%;
    }

    .subscribe  {
        margin: 4rem auto;
        max-width: 93%;
    }
}
   
